<nav class="green lighten-1" role="navigation">

  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo right">{{title}}</a>
    <ul class="left hide-on-med-and-down">
      <li><a [routerLink]="['/today']">Vandaag</a></li>
      <li><a [routerLink]="['/groups']">Groepen</a> </li>
      <li><a [routerLink]="['/lessons']">Lessen</a> </li>
      <li><a [routerLink]="['/students']">Leerlingen</a> </li>
      <li><a [routerLink]="['/setting']">Instellingen</a> </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a [routerLink]="['/today']">Vandaag</a></li>
      <li><a [routerLink]="['/groups']">Groepen</a> </li>
      <li><a [routerLink]="['/lessons']">Lessen</a> </li>
      <li><a [routerLink]="['/students']">Leerlingen</a> </li>
      <li><a [routerLink]="['/setting']">Instellingen</a> </li>
    </ul>
    <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>



  


<div class="container"><router-outlet></router-outlet></div>