<h2>Groep</h2>

<div *ngIf="group">
  <h3>"{{group.name}}"</h3>
  <div>
    <label>Id: </label>{{group.id}}</div>
  <div>
    <label>Name: </label>
    <input [(ngModel)]="group.name" placeholder="name" />
  </div>
  <p>
    <button (click)="gotoGroups()">Back</button>
  </p>
</div>

<button md-button>FLAT</button>
<button md-raised-button>RAISED</button>
<button md-icon-button>
   <md-icon class="md-24">favorite</md-icon>
</button>
<button md-fab>
   <md-icon class="md-24">add</md-icon>
</button>
<button md-mini-fab>
   <md-icon class="md-24">add</md-icon>
</button>